commands:
  01_create_swap:
    command: |
      fallocate -l 2G /swapfile || dd if=/dev/zero of=/swapfile bs=1M count=2048
      chmod 600 /swapfile
      mkswap /swapfile
      swapon /swapfile
      echo '/swapfile none swap sw 0 0' >> /etc/fstab
  02_adjust_swappiness:
    command: sysctl vm.swappiness=10
  03_reload_sysctl:
    command: sysctl -p
